*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#f4f4f4;
color:#222;
}

header{
background:#111;
color:#fff;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
position:sticky;
top:0;
z-index:1000;
}

.logo h1{
font-size:28px;
color:#FFC107;
}

.logo p{
font-size:14px;
color:#ddd;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#FFC107;
}

.hero{
height:90vh;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("images/banner.jpg") center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
color:white;
}

.hero h2{
font-size:52px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
margin-bottom:25px;
}

.btn{
background:#FFC107;
padding:14px 30px;
border-radius:8px;
text-decoration:none;
color:#111;
font-weight:bold;
transition:.3s;
}

.btn:hover{
background:#ff9800;
}

section{
padding:80px 8%;
}

.title{
text-align:center;
font-size:36px;
margin-bottom:40px;
}

.search{
text-align:center;
margin-bottom:40px;
}

.search input{
width:100%;
max-width:450px;
padding:14px;
border-radius:8px;
border:2px solid #FFC107;
font-size:16px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
gap:25px;
margin-top:20px;
margin-bottom:50px;
}

.card{
background:white;
border-radius:12px;
overflow:hidden;
box-shadow:0 10px 20px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
height:230px;
object-fit:cover;
}

.card h4{
padding:15px;
font-size:22px;
}

.card p{
padding:0 15px 15px;
color:#666;
}

.card a{
display:block;
background:#25D366;
color:white;
text-align:center;
padding:14px;
text-decoration:none;
font-weight:bold;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
width:100%;
height:220px;
object-fit:cover;
border-radius:10px;
}

#about{
background:white;
}

#contact{
background:#111;
color:white;
text-align:center;
}

#contact p{
margin:15px 0;
font-size:18px;
}

footer{
background:#000;
color:#ccc;
text-align:center;
padding:20px;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

nav a{
display:inline-block;
margin:10px;
}

.hero h2{
font-size:34px;
}

.hero p{
font-size:17px;
}

.title{
font-size:28px;
}

}
